.bir{
animation-name:havorang;
animation-duration: 5s;
}
@keyframes havorang{
from{fill:white;}
to{fill:lightblue;}
}
.uch{
animation-name:yashil;
animation-duration: 5s;
animation-delay:2s;
}
@keyframes yashil{
from{fill:white;}
to{fill:green;}
}
.chiziq{
animation-name:kesma;
animation-duration: 6s;
animation-delay:3s;
}
@keyframes kesma{
0%{fill:white;}
100%{fill:blue;}
}
.nat{
animation-name:na;
animation-duration: 6s;
animation-delay:4s;
}
@keyframes na{
0%{fill:white;}
100%{fill:red;}
}
.u{
animation-name:uzb;
animation-duration: 6s;
animation-delay:5s;
}
@keyframes uzb {
0%{fill:white;}
100%{fill:green;}
}
a{
padding-right:50px;
padding-top:600px;
}
